{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block menu %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
    {% endblock %}
    {% block body %}
        <p id="error403">
            Vous n'avez pas les autorisations pour accéder à cette page. </br>
            <a href="{{ path('index') }}"><b>retournez à la page d'accueil</b></a>. </p>
        <p id="error"> Erreur 403 </p>
    {% endblock %}
{% endif %}