{% extends 'Templates/baseSubMenu.html.twig' %}
{% set route = app.request.headers.get('referer')|split('/')|last %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}
{% block menu %}
    {{ parent() }}
    {% if route is same as('edit') %}
        <h1 class="titre_form"> Modification du profil </h1>
    {% else %}
        <h1 class="titre_form"> Modification du mot de passe </h1>
    {% endif %}
<hr align="left" class="séparateur">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>
            {% trans_default_domain 'FOSUserBundle' %}
             <div class="col-md-7 col-push-5">
                 {% if route is same as('edit') %}
                    <p class="flash"> Votre profil a bien été modifié ! </p>
                {% else %}
                    <p class="flash"> Votre mot de passe a bien été modifié ! </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

