/* Feuille de style pour administration  */

body {
    float: top;
    font-family: Trebuchet MS, Cantarell, sans-serif;
    /* margin: auto; */
    max-width: 100%;
    background-color: white;
}

footer.footer {
    margin-top: 10%;
    height: 10%;
}

.welcome
{
    font-variant: small-caps;
    font-family: Arial;
    padding-bottom: 0.5em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
}

.titre_form
{
    font-weight: bold;
    margin-left: -1em;
    text-transform: capitalize;
    font-style: italic;
    background-color: #b39883;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    padding: 0.5em 1em 0.2em 1em;
    margin-bottom: 0em;
    position:relative;
    width:98%;
    transform: skew(-20deg);
}

fieldset {
    float: left;
    margin: 10px 10px;
    border: 1px solid #EC4C4E;
}

legend {
    padding: 3px 5px;
    font-weight: bold;
    color: white;
    background-color: #EC4C4E;
}

h1 {
    padding: 10px 5px;
    /*font-size: 1.2em;*/
    text-align: center;
}

.flash {
    text-align: center;
    color: green;
    font-size: 1.5em;
}

/*.col-md-9 h1
{
    text-align: left;
    font-weight: bold;

}*/
/*.séparateur
{
    margin-top: 0px;
    margin-bottom: 20px;

    border: 0;
    border-top: 2px solid #008407;
    width: 50%;
}*/

/*Menu*/

header
{
    top : 0;
    left:0;
    height: auto;
    background: white;
    background-color: #606060;
    /* position: fixed; */
    width: auto;
    z-index: 0;
    text-align: center;
    padding-top: 1em;
}

#barre_menu
{
    /* padding: 0.3em; */
    position: relative;
    margin: auto;
    height: auto;
    width: auto;
    background-color: #525252;
    /* vertical-align:  middle; */
    }

#barre_menu li {
}

#barre_menu ul {
    display:  flex;
    justify-content:  space-around;
}

#barre_menu_management {
    list-style: none;
    margin: 0;
    padding: 0;
}

#barre_menu_management li {
    display: block ;
    border: solid 1px;
    width: 100%;
}
#barre_menu_management ul {
    -webkit-padding-start: 0;
}

#profileForm {
    padding-top: 2em;
}

header ul
{
    list-style-type:none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 0px;
    /* height: auto; */
}



li
{
    text-decoration: none;
    background-color: #525252;
    width: 14%;
    display:inline-block;
    margin: 0;
    height: auto;
    text-align: center;
    list-style-type:none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0.5em;
    border-collapse: collapse;
}

li:hover
{
    text-decoration: none;
    background-color: red;
    cursor: pointer;
}

header ul li a
{
    float:top;
    color: #ffffff;
}

.connexion
{
    margin-right:10px;
}

.management
{
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #525252;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
}

.logout
{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #525252;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
}

li.active {
    background-color: red;
    cursor: pointer;
}

a.navMenu {
    display: flex;
    justify-content: space-around;
    /* padding: 0.5em; */
}

.navMenu:link    {text-decoration: none;font-weight: bold;color: #ffffff;}
.navMenu:visited {text-decoration: none;font-weight: bold;color: #ffffff;}
.navMenu:active  {text-decoration: none; color: black; }
.navMenu:hover   {text-decoration: none;color: #daf2de;cursor: pointer;}

.navMenuManagement:link    {text-decoration: none;font-weight: bold;color: #ffffff;}
.navMenuManagement:visited {text-decoration: none;font-weight: bold;color: #ffffff;}
.navMenuManagement:active  {text-decoration: none; color: black; }
.navMenuManagement:hover   {text-decoration: none;color: #daf2de;cursor: pointer;}

.logout:link    {text-decoration: none;font-weight: bold;color: #ffffff;}
.logout:visited {text-decoration: none;font-weight: bold;color: #ffffff;}
.logout:active  {text-decoration: none; color: black; }
.logout:hover   {text-decoration: none;color: #daf2de;cursor: pointer;}

th
{
    color: black;
    text-align: center;
}

td
{

    font-size: .98em;
    text-align: center;
}

th, td, tr {
    min-height: 20em;
    max-width: 25em;
    max-height: 30em;
    padding: 3px 5px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    text-align :center;
    word-wrap:break-word;
}

table
{
    border-collapse: collapse;
    margin: auto;
    background-color: #f9d3b6;
}

button
{
    text-align: center;
    margin: auto;
     display: block;
    margin : 2em auto;
}

#addButton {
    margin: auto;
    display: block;
    margin-bottom: 1em;
}

#emailText {
    text-align: center;
}

.error li {
    text-align: center;
    display: inline-block;
    width: auto;
    color:  red;
    margin-top: -1em;
    background-color:  white;
}

.error {
    background-color: white;
    margin-left: 7em;
}

#error404 {
    text-align: center;
    font-size: 2em;
    background-image: url('/administration/web/images/gangDePigeon1.jpg');
    max-width:100%;
    width: 100%;
    height: 665px;
    background-size:  100%;
    background-repeat:no-repeat;
}

#error403 {
    text-align: center;
    font-size: 2em;
    background-image: url('/administration/web/images/kangourou.jpg');
    max-width:100%;
    width: 100%;
    height: 665px;
    color: white;
    background-size:  100%;
    background-repeat:no-repeat;
}

#error403 a {
    color: white;
}

#error {
    font-size: 4em;
    text-align: center;
    margin-top: -2.5em;
    color: white;
    margin-left: 7em;
}

#formButton
{
    /*display: inline-block;*/
    text-align: center;
}

#formTab td,tr,th
{
    max-width: 60em;
    max-height: 100em;
    padding: 3px 5px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    text-align :center;
}

#formTab textarea
{
    resize : both;
    min-width : 30em;
    min-height : 10em;
    max-width : 60em;
    max-height : 60em;
}

#formTab input
{
    width : 100%;
}

textarea
{
    resize : both;
    min-width : 5em;
    min-height : 5em;
    max-width : 29em;
    max-height : 30em;
}

img
{
    max-width: 20em;
    max-height: 20em;
}



/*footer
{
    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}*/



/* Pour les messages d'erreurs
p.erreur {
   text-align: center;
   color: red;
   font-weight: bold;
}

form
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Tableau {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Tableau table{
    width: 100%;
}*/
